<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Link to Bootstrap's CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>BlogIT</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item px-3">
              <a class="nav-link active" href="/">Home</a>
            </li>
            
            {{#if loggedIn}}
            <li class="nav-item px-3">
              <a class="nav-link" href="/dashboard" id="dashboard">Dashboard</a>
            </li>
             <li class="nav-item px-3">
              <a class="nav-link" id="logout">Logout</a>
            </li>
            
            {{else}}
            <li class="nav-item px-3">
              <a class="nav-link" href="/login">Dashboard</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="/login" >Login</a>
            </li>
            {{/if}}
            
           
          </ul>
        </div>
      </div>
    </nav>
      {{{body}}}
    </div>
  </body>
</html>

  
  <script src="/js/logout.js"></script>
 